extends layout

block content
  h1= title

  div(class="row")
    div(class="col")
      table(class="table table-striped table-bordered")
        tr
          th
          each team in teams
            th= team.abbreviation
        each row, rowIndex in grid
          tr
            td(class="text-nowrap")= row[0].homeTeam.name
            each cell, cellIndex in row
              td(class=`text-center ${rowIndex === cellIndex ? 'bg-dark' : ''}`)= cell.game.scores

    div(class="col")
      table(class="table table-striped table-bordered")
        tr
          th #
          th Название
          th(title="Сыграно") И
          th(title="Победы") В
          th(title="Победы после ничей") ВН
          th(title="Ничьи") Н
          th(title="Поражения") П
          th(title="Очки") O
          th +/-
        each item, index in list
          tr
            th= index + 1
            th= item.team.name
            th= item.gamesCount
            th= item.winsCount
            th= item.winsAfterDrawCount
            th= item.drawsCount
            th= item.losesCount
            th= item.points
            th= item.odds
  