extends ../layout

mixin set(index, homeScore, awayScore)
  div(class="row no-gutters")
    div(class="col")
      input(type="text", name=`awayScores[${index}][]`, maxlength="1", class="form-control", value=awayScore, required)
    div(class="col")
      input(type="text", name=`homeScores[${index}][]`, maxlength="1", class="form-control", value=homeScore, required)

mixin sets(index, data)
  +set(index, data[0].homeScore, data[0].awayScore)
  +set(index, data[1].homeScore, data[1].awayScore)

mixin double(index, homePlayers, awayPlayers, sets)
  div(class="row form-group",
      ng-init=`assignPlayers('${index}', '${homePlayers.map(x =>x.id)}', '${awayPlayers.map(x =>x.id)}', 'double')`
  )
    div(class="col-5")
      select(
        class="form-control",
        name=`awayPlayers[${index}][]`,
        required,
        ng-repeat="i in numbers track by $index"
        ng-model=`awayPlayers[${index}][$index]`,
        ng-options="user as user.fullName for user in awayUsers track by user.id"
      )
        option(value="", selected="selected")

    div(class="col-2")
      +sets(index, sets)

    div(class="col-5")
      select(
        class="form-control",
        name=`homePlayers[${index}][]`,
        required,
        ng-repeat="i in numbers track by $index",
        ng-model=`homePlayers[${index}][$index]`,
        ng-options="user as user.fullName for user in homeUsers track by user.id"
      )
        option(value="", selected="selected")

mixin single(index, homePlayers, awayPlayers, sets)
  div(class="row form-group align-items-center",
      ng-init=`assignPlayers('${index}', '${homePlayers.map(x =>x.id)}', '${awayPlayers.map(x =>x.id)}', 'single')`
  )
    div(class="col-5")
      select(
        class="form-control",
        name=`awayPlayers[${index}]`,
        required,
        ng-model=`awayPlayers[${index}]`,
        ng-options="user as user.fullName for user in awayUsers track by user.id"
      )
        option(value="", selected="selected")

    div(class="col-2")
      +sets(index, sets)

    div(class="col-5")
      select(
        class="form-control",
        name=`homePlayers[${index}]`,
        required,
        ng-model=`homePlayers[${index}]`,
        ng-options="user as user.fullName for user in homeUsers track by user.id",
      )
        option(value="", selected="selected")

mixin penalty(id)
  div(class="row form-group")
    div(class="col-sm-5")
      select(name=`${id}_home_player`, class="form-control")
        option(value="0")
        each user in users
          option(value=user.id)
            = user.fullName

    div(class="col-sm-2 text-center")
      div(class="row")
        div(class="col")
          div(class="checkbox")
            label
              input(type="checkbox", name=`home_penalty_1`)
        div(class="col")
          div(class="checkbox")
            label
              input(type="checkbox", name=`home_penalty_1`)
    div(class="col-sm-5")
      select(name=`${id}_away_player`, class="form-control")
        option(value="0")
        each user in users
          option(value=user.id)
            = user.fullName

block content
  form(action=game.id ? `/admin/games/${game.id}/update` : '/admin/games/create', method="post", class="well",
    ng-controller="GameEditController"
    ng-init=`init('${game.homeTeamId}', '${game.awayTeamId}')`
  )
    fieldset
      legend
        | Information
      div(class="form-group")
        label(for="date")
          | Date
        div(class="input-group date", id="datepicker", data-target-input="nearest")
          input(
            type="text",
            name="date",
            placeholder="MM/DD/YYYY"
            class="form-control datetimepicker-input",
            data-target="#datepicker",
            value=game.date,
            required)
          div(class="input-group-append", data-target="#datepicker", data-toggle="datetimepicker")
            div(class="input-group-text")
              i(class="fa fa-calendar")
      div(class="form-group")
        label(for="homeTeamId")
          | Home
        select(name="homeTeamId", id="homeTeamId", class="form-control", ng-model="homeTeamId", required)
          option(value="0")
          each team in teams
            option(value=team.id, selected=game.homeTeamId === team.id)
              = team.name
      div(class="form-group")
        label(for="awayTeamId")
          | Away
        select(name="awayTeamId", id="awayTeamId", class="form-control", ng-model="awayTeamId", required)
          option(value="0")
          each team in teams
            option(value=team.id, selected=game.awayTeamId === team.id)
              = team.name

    fieldset
      legend
        | Matches
      div(class="form-group")
        div(class="row")
          div(class="col-5 text-center")
            h5 Away
          div(class="col-2 text-center text-nowrap")
            h5 Score
          div(class="col-5 text-center")
            h5 Home
        each match in game.matches
          +#{match.type}(match.position - 1, match.homePlayers, match.awayPlayers, match.sets)

    //-
      fieldset
      legend
        | Penalties
      div(class="form-group")
        div(class="row")
          div(class="col-xs-5 text-center")
            h5 Home
          div(class="col-xs-2 text-center text-nowrap")
            h5 Score
          div(class="col-xs-5 text-center")
            h5 Away
        +penalty(1)
        +penalty(2)
        +penalty(3)
        +penalty(4)
        +penalty(5)

    input(type="submit" class="btn btn-primary")

